
h1 {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

.ueberschrift {
    text-align: center;
    color: green;
}

.ueberschrift2 {
    text-align: center;
    color: green;
}

.flex-columns {
    display: flex;
}

.neues-div {
    background: gray;
}

.neues-div2 {
    background: gray;
}

.name {
    color: gray;
}

.rechts {
    color: black;
}

.links {
    color: black;
}

.leben {
    color: lightgray;
}

.lauf {
    color: lightgray;
}

.row-1 {
    height: 300px;
}

.row-2 {
    height: 150px;
}

.row-3 {
    height: 200px;
}

.unten {
    text-align: center;
    color: green;
    }

.ueberschrift3 {
    text-align: center;
    color: gray;
}

.right-section {
    width: 100%;
}

.left-section {
    text-align: right; 
    border-right: 1px solid lightgray; 
    margin-right: 20px; 
    padding-right: 20px;
    width: 100%;
}

.margin-left {
    margin-left: 2px;
}

.skill-names {
    width: 20%;
}

