
h1 {
    font-family: Lobster, monospace;
}

.container {
}

.ueberschrift {
    text-align: center;
}

.flex-columns {
    display: flex;
}

.flex-columns > div {
    width: 100%;
}

.neues-div {
    background: gray;
}

.neues-div2 {
    background: gray;
}

.red {
    color:  red;
}

.name {
    color: blue;
}